html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    transition: background-color 4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cormorant Garamond', serif;
}

#message {
    font-size: 3.2rem;
    text-align: center;
    max-width: 75%;
    line-height: 1.5;
    letter-spacing: 0.5px;
    transition: opacity 2s ease;
    color: white;
}
